		ul,li{
			list-style: none;	
			margin: 0;
			padding: 0;		
		}
		.sd{
			width: 460px;
		}
		.sdspan{
			float: left;
            font-size: 24px;
			display: inline-block;
			margin: 0;
			border: 1px dotted green;
			height: 46px;
			width: 46px;
			line-height: 46px;
			text-align: center;
		}
		.sdli{
			width: 100%;
			height: 46px;
			float: left;
		}

		.bl{
			border-left-color: green;
			border-left-style: solid;
		}
		.bt{
			border-top-color: green;
			border-top-style: solid;
		}
		.br{
			border-right-color: green;
			border-right-width: 2px;
			border-right-style: solid;
		}
		.bb{
			border-bottom-color: green;
			border-bottom-width: 2px;
			border-bottom-style: solid;
		}
		.blankCell{
			color:blue;
			font-weight: 600;
		}
		.bg_red{
			background: red;
		}
		.clearfix:after{
			content: '';
			display: table;
			clear: both;
		}
        #box{
            width: 600px;
            margin: 50px auto;
            height: 500px;
            clear: both;
        }
        #sdBox{
            float: left;
        }
		.btn-group{
            float: left;
			margin-top:30px;
			text-align:center;
		}
		.btn-group button{
            margin-bottom: 30px;
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            -webkit-appearance: none;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            transition: .1s;
            font-weight: 500;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 12px 20px;
            font-size: 16px;
            border-radius: 4px;
            color: #fff;
            background-color: #409eff;
            border-color: #409eff;
		}
